name: Release

on:
  release:
    types: published

jobs:
  release-3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - run: ./gradlew :sbp-core:publish -Pversion=3.0.${GITHUB_REF##*/} -PspringBootVersion=3.0.2 -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}'
      - run: ./gradlew :sbp-spring-boot-starter:publish -Pversion=3.0.${GITHUB_REF##*/} -PspringBootVersion=3.0.2 -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}'
      - run: ./gradlew :sbp-adapter-2.5:publish -Pversion=3.0.${GITHUB_REF##*/} -PspringBootVersion=3.0.2 -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}'
      - run: ./gradlew :sbp-spring-boot-flyway-starter:publish -Pversion=3.0.${GITHUB_REF##*/} -PspringBootVersion=3.0.2 -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}'
      - run: ./gradlew :sbp-spring-boot-jpa-starter:publish -Pversion=3.0.${GITHUB_REF##*/} -PspringBootVersion=3.0.2 -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}'
